body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(10, 1, 15);
    box-shadow: rgb(7, 225, 199) 2px 5px;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #86a045;
}

.tab-content {
    background-color: rgb(238, 240, 186);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tab-content p {
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #0d0101;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    button {
        margin-bottom: 10px;
    }
}